{% extends 'base.html' %}
{% load static %}
{% block title %}로그인{% endblock %}
{% block link %} {% static 'css/login.css' %}{% endblock %}
{% block content %}

<p class="login">LOGIN</p>

<div class="content"></div>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <input type="text" id="username" name="username" placeholder="아이디를 입력하세요. "><br>
        <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요."><br>
        <button>로그인</button>
        <p>{{error}}</p>
    </form>

{%endblock%}