@font-face{
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'NanumSquareRound';
}

.create{
    font-size: 35px;
    display: flex;
    justify-content: center;
}

.content{
    display: flex;
    justify-content: center;
}

#product_name, #product_info{
    border-radius: 20px;
    border-color: #e4e4e4;
    border-width: 1px;
    font-size: 14px;
    margin-left: 5%;
}
#product_info{
    width: 255px;
    height: 100px;
}
#product_name{
    width: 250px;
    height: 40px;
    margin-bottom: 2%;
    margin-left: 8%;
}
button{
    margin-top: 10%;
    margin-left: 3%;
    font-size: 16px;
    border: 0;
    outline: 0;
    border-radius: 20px;
    width: 370px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    background-color: #E2B3A3
}