{% extends 'base.html' %}
{% load static %}
{% block title %}홈{% endblock %}
{% block link %} {% static 'css/home.css' %}{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
    <p class="user_name"><strong>{{user.username}}</strong>님 환영합니다!</p>
    {% else %}
    <p class="user_name">로그인 해주세요</p>
    {% endif %}

    <p id="new_title">NEW ARRIVALS</p><br>
    <p id="new_sale">신상품 5일간 최대 20% 할인!</p>

    <main >
        <div class="list_wrap">
            <ul>
                {% for product in products %}
                <!-- <div class="product"> -->
                     <a href="{% url 'detail' product.id %}" class="item">
                        <p><img src="{{product.product_img}}" width="200px" height="200px"></p><br>
                        <p>{{product.product_name}}</p><br>
                        <p>{{product.product_info}}</p>
                    </a>
                <!-- </div> -->
                {% endfor %}
            </ul>

            <div class="page">
                {% if products.has_previous %}
                <a href='?page={{products.previous_page_number}}'><</a>
                {% endif %}
        
                <span>{{products.number}}</span>
                <span> / </span>
                <span>{{products.paginator.num_pages}}</span>
        
                {% if products.has_next %}
                <a href='?page={{products.next_page_number}}'>></a>
                {% endif %}
            </div>
        </div>

    </main>
{% endblock %}